<hr />

<div class="pane">
  <div class="container">
    <div class="row">
      <footer>
      	<p><em>&copy; 2022 One Fat Giraffe Inc. All rights reserved.</em></p>
      	<ul class="list-inline">
        <a href="https://onefatgiraffe.com"><img src="/img/ofg.svg" alt="One Fat Giraffe Inc."></a>
           <li>
            <i class="fa fa-key"></i> 
            <a href="https://onefatgiraffe.com/privacy">Privacy policy</a>
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>
            <a href="http://scr.im/35xm">Email</a>
          </li>
        {% if site.twitter %}
          <li>
            <i class="fa fa-twitter"></i> 
            <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
          </li>
        {% endif %}
        {% if site.instagram %}
          <li>
            <i class="fa fa-instagram"></i> 
            <a href="https://instagram.com/{{ site.instagram }}">Instagram</a>
          </li>
        {% endif %}
        </ul>
      </footer>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/js/twitterFetcher_min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.analytics.google.tracking_id}}', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>

</body>
</html>