<hr />

<div class="pane">
  <div class="container">
    <div class="row">
      <footer>
      	<p><em>&copy; 2015 One Fat Giraffe Inc. All rights reserved.</em></p>
      	<ul class="list-inline">
        <a href="https://onefatgiraffe.com"><img src="/img/ofg.svg" alt="One Fat Giraffe Inc."></a>
           <li>
            <i class="fa fa-key"></i> 
            <a href="https://onefatgiraffe.com/privacy">Privacy policy</a>
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>
            <a href="http://scr.im/35xm">Email</a>
          </li>
        {% if site.twitter %}
          <li>
            <i class="fa fa-twitter"></i> 
            <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
          </li>
        {% endif %}
        {% if site.instagram %}
          <li>
            <i class="fa fa-instagram"></i> 
            <a href="https://instagram.com/{{ site.instagram }}">Instagram</a>
          </li>
        {% endif %}
        </ul>
      </footer>
    </div>
  </div>
</div>