<hr />

<div class="pane">
  <div class="container">
    <div class="row">
      <footer>
      	<p><em>&copy; 2015 One Fat Giraffe Inc. All rights reserved.</em></p>
      	<ul class="list-inline">
        <a href="http://www.onefatgiraffe.com"><img src="/img/ofg.png" alt="One Fat Giraffe Inc."></a>
        {% if site.twitter %}
          <li>
            <i class="fa fa-twitter"></i> 
            <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
          </li>
        {% endif %}
        {% if site.instagram %}
          <li>
            <i class="fa fa-github"></i> 
            <a href="https://github.com/{{ site.instagram }}">Instagram</a>
          </li>
        {% endif %}
        </ul>
      </footer>
    </div>
  </div>
</div>

</body>
</html>