<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}</title>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon128.png" sizes="128x128">

    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.min.css">
</head>
<body>